// Grid settings
@main-sm-columns:       @grid-columns;
@sidebar-sm-columns:    4;

// Colors
@brand-primary:                            #01061C;
@navbar-default-bg:                        #45545F;
@navbar-default-color:                     #B4BFC7;
@navbar-default-link-color:                #B4BFC7;
@navbar-default-link-active-color:         #B4BFC7;
@body-bg:                                  #fff;


// Text stuff

    .entry-title
    {
        font-size: 20px;
    }